@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Informacion Controller --> Vista</h1>
<h2>Nombre: @ViewData["NOMBRE"]</h2>
<h2>Edad: @ViewBag.EdadES</h2>
<h2>Hoy es... @ViewBag.DiaSemana</h2>