@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!DOCTYPE html>
<html>
    <head>
        <title>Mi primera plantilla</title>
    </head>
    <body>
        <h1>Plantilla Principal</h1>
        <hr />
        <div style="background-color: lightblue">
            <p>ZONA DE VISTAS</p>
            @RenderBody()
        </div>
        <hr />
        <footer></footer>
    </body>
</html>
