<!DOCTYPE html>
<html>
    <head>
        <title>Plantilla personalizada</title>
    </head>
    <body>
        <h1>Nueva Plantilla</h1>
        <div style="background-color: greenyellow">
            <h1>Zona de vistas</h1>
            @RenderBody()
        </div>
    </body>
</html>
